
<h1>Create A new Exerise Routine</h1>

<form action="/routines" method="POST">
  <p>New Routine: <textarea type="text" name="exercise" placeholder="Enter New Routine Here"></textarea></p>
  <input type="submit" value="save" />
</form>